<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %} PyCamp Kyiv, 2010.01.30 {% endblock %}</title>

  <!-- Blueprint CSS -->
    <link rel="stylesheet" href="{{MEDIA_URL}}blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{MEDIA_URL}}blueprint/print.css" type="text/css" media="print">
  <!--[if IE]><link rel="stylesheet" href="{{MEDIA_URL}}blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <!-- Import fancy-type plugin for the sample page. -->
    <link rel="stylesheet" href="{{MEDIA_URL}}blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
    {% block extended_head %}

    {% endblock %}
</head>

<body>

    <div class="container">
    <div style="text-align: right;" class="language_links">{{ langs|safe }}</div>
        <hr>
        <div class="span-9">
             {% block header %}
                {{ header.text|safe }}
            <div class="big_button">
                <h1></h1>
            </div>
            {% endblock header %}
        </div>

        <div class="span-8">
        {% block logos %}
                 <a href="http://python.org/"><img src="{{MEDIA_URL}}python-logo.png" /></a><br />
            <a href="http://www.djangoproject.com/"><img src="{{MEDIA_URL}}django-logo.png" /></a><br />
            <a href="http://turbogears.org/"><img src="{{MEDIA_URL}}tg-logo.png" /></a><br />
            <a href="http://code.google.com/appengine/"><img src="{{MEDIA_URL}}appengine.png" /></a><br />
            <a href="http://www.tornadoweb.org/"><img src="{{MEDIA_URL}}tornado.png" /></a><br />
            <a href="http://www.zope.org/"><img src="{{MEDIA_URL}}zope.png" /></a><br />
        {% endblock logos %}
        </div>

        <div class="span-7 last">
        {% block twitter %}
          <script src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script>
                new TWTR.Widget({
                  version: 2,
                  type: 'search',
                  search: '#pykyiv',
                  interval: 6000,
                  title: 'PyCamp Kyiv',
                  subject: '30.01.2010',
                  width: 250,
                  height: 400,
                  theme: {
                    shell: {
                      background: '#121212',
                      color: '#ffffff'
                    },
                    tweets: {
                      background: '#ffffff',
                      color: '#444444',
                      links: '#056087'
                    }
                  },
                  features: {
                    scrollbar: false,
                    loop: true,
                    live: true,
                    hashtags: true,
                    timestamp: true,
                    avatars: true,
                    behavior: 'default'
                  }
                }).render().start();
                </script>
            {% endblock twitter %}
        </div>
        <hr>

        <hr class="space">

        <div class="span-15 prepend-1 colborder">

            {% comment %}
                <iframe src="http://spreadsheets.google.com/embeddedform?key=t2cTJROxTvXj-IMiYtbBUzg" width="760" height="765" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            {% endcomment %}

        </div>
    <div class="span-23 last">
            <div class="speakers_block">
                <h1>{{ speaker_title }}</h1>
                <p>
                    {% for speaker in speakers %}
                        {% if speaker.0.photo %} <img src="{{MEDIA_URL}}{{speaker.0.photo}}"  align="left" />{% endif %}
                        {% for field in speaker.1 %}
                            {{ field.value|urlize }} <br />
                            {% if forloop.first %}
                                {% if speaker.2 %}
                                <span style="color:#FFF; font-size:18px;font-style:italic;">{{ speaker.3|urlize }}</span><br />
                                {% endif %}
                            {% endif %}

                        {% endfor %}
                        {% if speaker.0.blog %} <a href="{{speaker.0.blog}}">{{speaker.0.blog}}</a><br />{% endif %}
                        {% if speaker.0.site %} <a href="{{speaker.0.site}}">{{speaker.0.site}}</a><br />{% endif %}
                        {% if speaker.0.twitter %} <a href="{{speaker.0.twitter}}">{{speaker.0.twitter}}</a><br />{% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>

    </div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-66492-18");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
