{% extends "base2.html" %}

{% block left %}
<div class="span-12">
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="400" height="320" id="utv166306"><param name="flashvars" value="autoplay=false&amp;brand=embed&amp;cid=2819935"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="movie" value="http://www.ustream.tv/flash/live/1/2819935"/><embed flashvars="autoplay=false&amp;brand=embed&amp;cid=2819935" width="400" height="320" allowfullscreen="true" allowscriptaccess="always" id="utv166306" name="utv_n_482509" src="http://www.ustream.tv/flash/live/1/2819935" type="application/x-shockwave-flash" /></object>
</div>
{% endblock left %}

{% block center %}
<div class="span-12 last">
<embed width="418" height="266" type="application/x-shockwave-flash" flashvars="channelId=2819935&brandId=1&channel=#pycamp-2010&server=chat1.ustream.tv" pluginspage="http://www.adobe.com/go/getflashplayer" src="http://www.ustream.tv/flash/irc.swf" allowfullscreen="true" />
<iframe src="http://www.ustream.tv/twitterjs/iframe?prefix=%40be_tv&suffix=+%28%40be_tv+live+at+http%3A%2F%2Fustre.am%2FbPAP%29" width="418" height="325" frameborder="0" style="border:0px none transparent"scrolling="no" ></iframe>
</div>
{% endblock center %}

{% block right %}

{% endblock right %}
